{% if include.author.photo %}
  <img
    class="webmention__author__photo u-photo"
    data-src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/{{ include.author.photo }}"
    data-srcset="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/{{ include.author.photo }} 1x, https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_96,h_96/{{ include.author.photo }} 2x"
    width= "48"
    height="48"
    alt="{{ include.author.name }} avatar" />
{% endif %}
