<div class="webmentions webmentions--likes">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <!-- nomicrotypo -->
            <a class="u-url" href="{{ webmention.author.url }}">
              {% include webmentions/author-photo author=webmention.author %}
            </a>
            <!-- endnomicrotypo -->
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No likes were found.</p>
  {% endif %}
</div>